# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\00GC\YY-2004-GC\YY-2004-V1.02\2020.8.21\DEMO\YY-2004-CLion_new\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
